body {
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.main {
  width: 88vw;
  margin: auto;
  margin-top: 5%;
  background-color: white;
  padding-bottom: 60px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100%;
}
#words {
  width: 90%;
  margin: auto;
}
h2 {
  text-transform: capitalize;
  font-weight: 700;
}
.image {
  background: linear-gradient(0deg, white, hsl(224, 98%, 93%));
}
h2,
.info {
  text-align: center;
  line-height: 130%;
}
p {
  color: rgb(168, 167, 166);
}
.plan {
  display: grid;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  background-color: hsl(225, 100%, 98%);
  grid-template-columns: 20% 50% 30%;
  padding: 10px;
  border-radius: 15px;
}
.price {
  margin-top: 2%;
  margin-bottom: 2%;
}
.link,
.payment {
  align-self: center;
  margin-left: 10px;
}
.payment {
  padding-left: 10px;
  position: relative;
}
.price {
  line-height: 130%;
}
#annual {
  color: black;
  font-weight: 700;
}
.change {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}
.change:hover {
  color: hsl(245, 61%, 59%);
  text-decoration: none;
}
.cancel {
  justify-self: center;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  text-decoration: none;
}
.cancel:hover {
  color: hsl(225, 58%, 62%);
}
.buttons {
  width: 80%;
  display: grid;
  grid-template-columns: 100%;
  margin: auto;
}
button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  background-color: hsl(245, 76%, 61%);
  color: white;
  border: 1px solid hsl(245, 68%, 44%);
  box-shadow: black 30px;
  margin-bottom: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: hsl(245, 60%, 55%);
}
@media (min-width: 600px) {
  .main {
    width: 40vw;
  }
}
@media (min-width: 900px) {
  .main {
    margin-top: 20px;
    width: 30vw;
    font-size: 18px;
    padding-bottom: 30px;
  }
}
